<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 수정</title>
  <style>
    h1 {color: brown; border-bottom: 3px solid black;}
    label {padding: 10px;}
    button {width: 50px; height: 30px; margin: 15px; background-color: black; color: white;}
  </style>
</head>
<body>
<div class="product">
  <h1>상품 수정</h1>
  <form id="updateForm" th:action th:method="post" th:object="${form}">
    <div th:if="${#fields.hasGlobalErrors()}">-->
      <p class="fieldError" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
    </div>
    <div>
      <div>
        <label th:for="pid">상품아이디</label>
        <input type="text" readonly th:field="*{pid}" disabled>
      </div>
      <div>
        <label th:for="pname">상품명</label>
        <input type="text" name="pname" th:field="*{pname}">
        <div class="fieldError" th:errors="*{pname}"></div>
      </div>
      <div>
        <label th:for="count">수량</label>
        <input type="text" name="count" th:field="*{count}">
        <div class="fieldError" th:errors="*{count}"></div>
      </div>
      <div>
        <label th:for="price">가격</label>
        <input type="text" name="price" th:field="*{price}">
        <div class="fieldError" th:errors="*{price}"></div>
      </div>
      <div>
        <button id="cancelBtn" type="button">취소</button>
        <button id="editBtn">저장</button>
      </div>
    </div>
  </form>
</div>
<script>
  //취소시 상세화면 이동
  cancelBtn.addEventListener('click',e=>{
    const pid = document.querySelector('input[name=pid]').value;
    const url = `/products/${pid}`;
    location.href = url;
  });
</script>
</body>
</html>