<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품등록</title>
  <style>
    h1 {color: brown; border-bottom: 3px solid black;}
    label {padding: 10px;}
    button {width: 50px; height: 30px; margin: 15px; background-color: black; color: white;}
  </style>
</head>
<body>
<div class="product">
  <h1>상품등록</h1>
  <form action="" method="post">
    <div>
      <div><label for="">상품명</label><input type="text" name="pname"></div>
      <div><label for="">수량</label><input type="text" name="count"></div>
      <div><label for="">가격</label><input type="text" name="price"></div>
      <div><button type="submit">저장</button></div>
    </div>
  </form>
</div>
</body>
</html>